body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(250, 241, 224, 0.219);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bassneck-body {
  padding: 80px;
  padding-right: 60px;
}
.bass-neck {
  background-color: rgb(51, 47, 47);
  height: 300px;
  position: relative;
}
.bass-neck > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  border-right: 4px solid #bbbbbbe7;
}
.first-fret {
  border-right: none !important;
  background-color: rgba(20, 20, 20, 0.856);
  text-align: end;
  font-size: 1.8rem;
  height: 100%;
  width: 50% !important;
  top: 0;
  left: 0;
  right: 0;
  color: #f3f3f3;
  margin: auto;
  z-index: 2;
  gap: 20px;
}
.first-fret-note {
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
  padding: 4px;
  padding-top: 1px;
}

.note-name {
  display: flex;
  align-items: center;
  height: 45px;
  z-index: 2;
}
.note-name-G {
  display: flex;
  align-items: start !important;
}
.note-name-D {
  display: flex;
  align-items: start !important;
  padding-top: 2px;
}
.note-name-E {
  display: flex;
  align-items: end !important;
  padding-bottom: 3px;
}

.frets {
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 100%;
}
.bass-neck > ul > li > .dots {
  position: absolute;
  transform: translateY(-90%);
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #a3a3a3;
}
.dots-double {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 175px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.bass-neck > ul > li .dots-double span:last-child {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #a3a3a3;
  opacity: 1;
}
.bass-neck > ul > li .dots-double span:first-child {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #a3a3a3;
  opacity: 1;
}

.strings {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  z-index: 1;
  height: 300px;
  width: 100%;
  padding: 0;
  list-style: none;
  flex-grow: 11.5;
}
.string-left {
  display: flex;

  background-image: repeating-linear-gradient(
      50deg,
      rgba(0, 0, 0, 0.6),
      transparent 0.15em,
      transparent 0.2em
    ),
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 10%,
      hsl(0, 0%, 100%) 15%,
      hsla(0, 0%, 100%, 0.952) 30%,
      hsla(0, 0%, 100%, 0.637) 45%,
      rgba(37, 37, 37, 0.6) 90%
    );
}

.G {
  height: 6px;
}
.D {
  height: 8px;
}
.A {
  height: 0.587rem;
}
.E {
  height: 13px;
}

.img-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 50px;
  flex-grow: 1;
}
.img-head {
  height: 150px;
  width: 400px;
}

@media only screen and (max-width: 1000px) {
  .img-div {
    width: 100%;
    height: 100%;
  }
  .img-head {
    height: 120px;
    width: 300px;
  }
}
@media only screen and (max-width: 750px) {
  .img-head {
    height: 100px;
    width: 200px;
  }
  .bassneck-body {
    height: 250px;
    flex-grow: 1;
    padding: 30px;
  }
  .bass-neck {
    height: 200px;
  }
  .strings {
    height: 200px;
  }
  .first-fret {
    gap: 5px;
  }
}
@media only screen and (max-width: 450px) {
  .img-head {
    height: 90px;
    width: 150px;
  }
  .bassneck-body {
    height: 150px;
    padding: 5px;
  }
}
@media only screen and (max-width: 400px) {
  .img-head {
    height: 90px;
    width: 150px;
  }
  .first-fret {
    font-size: 1.1rem;
    display: block !important;
    height: 150px;
    padding-top: -40px;
    margin-top: -4px;
  }
  .first-fret-note {
    height: 32px;
    padding: 0;
  }
  
  .bassneck-body {
    height: 150px;
    padding: 5px;
    padding-left: 20px;
  }
  .bass-neck {
    height: 140px;
  }
  .strings {
    height: 140px;
  }
  .dots-double {
    justify-content: center;
    gap: 65px;
  }

  .G {
    height: 4px;
  }
  .D {
    height: 6px;
  }
  .A {
    height: 0.467rem;
  }
  .E {
    height: 10px;
  }
  .bass-neck > ul > li > .dots {
    position: absolute;
    transform: translateY(-90%);
    top: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #a3a3a3;
  }
  .bass-neck > ul > li .dots-double span:last-child {
    width: 15px;
    height: 15px;
  }
  .bass-neck > ul > li .dots-double span:first-child {
    width: 15px;
    height: 15px;
  }
}
